# Module 8 Lab 2 Getting and Knowing your Dataset with Pandas

### Step 1. Import the necessary libraries Pandas as pd and Numpy as np

In [12]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://cs79f.s3-us-west-1.amazonaws.com/module8-datasets/chipotle.tsv).

In [20]:
url=  'https://cs79f.s3-us-west-1.amazonaws.com/module8-datasets/chipotle.tsv'

### Step 3. Read in CSV dataset to a variable called chipo.

In [55]:
chipo = pd.read_csv("chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries of the dataset

In [22]:
print (chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations/rows in the dataset?

In [24]:
len(chipo.index)

4622

### Step 6. What is the number of columns in this dataset?

In [25]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns/features.

In [26]:
print (chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
# It was indexed by order_id

### Step 9. Which was the most-ordered item?

In [29]:
print(chipo.groupby(['item_name'])['item_name'].agg(['count']).sort_values(by='count', ascending=False))
#answer Chicken Bowl

                                       count
item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
# From above 726
 total = chipo.loc[chipo['item_name'] == 'Chicken Bowl']
 total.iloc[:,1].sum(axis=0)

761

### Step 11. How many items were orderd in total?

In [92]:
chipo.shape[0]

4622

### Step 12. How much was the revenue for the period in the dataset?

In [74]:
chipo['Total'] = chipo['quantity'] * chipo['item_price'].str.strip('$').astype(float)
totalRevenue  = chipo['Total'].sum()
print(totalRevenue)

39237.02

### Step 13. How many orders were made in the period?

In [75]:
totalOrders = chipo['quantity'].sum(axis=0)
print (totalOrders)

4972

### Step 14. What is the average revenue amount per order?

In [78]:
averageRevenue =    totalRevenue / totalOrders
print (averageRevenue)

7.8915969428801285

### Step 15. How many different items are sold?

In [93]:
chipo['item_name'].nunique()

50

### Netflix

In [94]:
import pandas as pd

In [108]:
netflix = pd.read_csv("netflix_titles.csv")
print (netflix.head(1))

    show_id   type                                    title  \
0  81145628  Movie  Norm of the North: King Sized Adventure

                   director  \
0  Richard Finn, Tim Maltby

                                                cast  \
0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...

                                    country         date_added  release_year  \
0  United States, India, South Korea, China  September 9, 2019          2019

  rating duration                           listed_in  \
0  TV-PG   90 min  Children & Family Movies, Comedies

                                         description
0  Before planning an awesome wedding for his gra...

In [118]:
#How many TV-PG rating?
a['Total'] = netflix.loc[(netflix["rating"] == "TV-PG")]
a['Total'].shape[0]

701

In [121]:
#List the first 20 movies
print (netflix['title'].head(20))

0               Norm of the North: King Sized Adventure
1                            Jandino: Whatever it Takes
2                                    Transformers Prime
3                      Transformers: Robots in Disguise
4                                          #realityhigh
5                                               Apaches
6                                              Automata
7                    Fabrizio Copano: Solo pienso en mi
8                                          Fire Chasers
9                                           Good People
10                          Joaquín Reyes: Una y no más
11                              Kidnapping Mr. Heineken
12                             Krish Trish and Baltiboy
13             Krish Trish and Baltiboy: Battle of Wits
14       Krish Trish and Baltiboy: Best Friends Forever
15            Krish Trish and Baltiboy: Comics of India
16    Krish Trish and Baltiboy: Oversmartness Never ...
17                    Krish Trish and Baltiboy: Part II
18         Krish Trish and Baltiboy: The Greatest Trick
19                                                 Love
Name: title, dtype: object

In [122]:
#Who directed "The Matrix"?

netflix.loc[(netflix["title"] == "The Matrix", "director")]

1422    Lilly Wachowski, Lana Wachowski
Name: director, dtype: object

In [123]:
#Find all the Movies made in India
netflix.loc[(netflix["country"] == "India")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
35,81154455,Movie,Article 15,Anubhav Sinha,"Ayushmann Khurrana, Nassar, Manoj Pahwa, Kumud...",India,"September 6, 2019",2019,TV-MA,125 min,"Dramas, International Movies, Thrillers",The grim realities of caste discrimination com...
37,81052275,Movie,Ee Nagaraniki Emaindi,Tharun Bhascker,"Vishwaksen Naidu, Sushanth Reddy, Abhinav Goma...",India,"September 6, 2019",2018,TV-14,133 min,"Comedies, International Movies","In Goa and in desperate need of cash, four chi..."
41,70303496,Movie,PK,Rajkumar Hirani,"Aamir Khan, Anuskha Sharma, Sanjay Dutt, Saura...",India,"September 6, 2018",2014,TV-14,146 min,"Comedies, Dramas, International Movies",Aamir Khan teams with director Rajkumar Hirani...
58,81155784,Movie,Watchman,A. L. Vijay,"G.V. Prakash Kumar, Samyuktha Hegde, Suman, Ra...",India,"September 4, 2019",2019,TV-14,93 min,"Comedies, Dramas, International Movies","Rushing to pay off a loan shark, a young man b..."
99,80225885,TV Show,Bard of Blood,NaN,"Emraan Hashmi, Viineet Kumar, Sobhita Dhulipal...",India,"September 27, 2019",2019,TV-MA,1 Season,"International TV Shows, TV Action & Adventure,...","Years after a disastrous job in Balochistan, a..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5573,80171439,Movie,The Human Factor: The Untold Story of the Bomb...,Rudradeep Bhattacharjee,NaN,India,"April 1, 2017",2013,TV-PG,53 min,"Documentaries, International Movies, Music & M...",A family of Parsi musicians collectively works...
5708,81011159,TV Show,Little Things,NaN,"Dhruv Sehgal, Mithila Palkar",India,"November 9, 2019",2019,TV-MA,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",A cohabiting couple in their 20s navigate the ...
5839,80178836,TV Show,The House That Made Me,NaN,Vinay Pathak,India,"March 31, 2017",2015,TV-PG,3 Seasons,"International TV Shows, Reality TV","With host Vinay Pathak, Indian celebrities ret..."
5867,80207879,TV Show,Sab Jholmaal Hai,Vijay Roche,NaN,India,"March 1, 2019",2017,TV-G,4 Seasons,"Kids' TV, TV Comedies","In this madcap comedy, two mischievous cats, a..."
5923,80122239,TV Show,Pyaar Tune Kya Kiya,NaN,"Meiyang Chang, Surbhi Jyoti",India,"June 1, 2017",2014,TV-14,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",From teen lovers defying social and religious ...